*.suo
*.user
bin
bin/
**/bin/
obj
obj/
**/obj/
**/.vs/
.vs
.vs/
.vscode
.config/
packages
*.db
**/publish/*
.teamcity/target/
*.dll
*.exe

# .NET development environment variables
**appsettings.Development.json

# nohup logs
*.out